@media (min-width: 640px) {
    .tabbar {
        height: 80px;
    }

    .tabbar li {
        height: 68px;
        gap: 5px;
    }

    .tabbar li img {
        width: 26px;
        height: 26px;
    }

    .tab-label {
        font-size: var(--font-size-sm);
    }
}
